services:
  mysql:
    image: mysql:8
    container_name: mysql_spring
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: products-api
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always

volumes:
  mysql_data:
